<h1><%= t('activerecord.models.settings') %></h1>

<%= render 'tab_admin_menu' %>

<%= simple_form_for @setting, :html => { class: 'form-horizontal' } do |f| %>
	<%= f.error_notification %>
	
  <div class="form-inputs">
		<%= f.input :company_name %><br />
		<%= f.input :contact_email, hint: t('settings.hint.contact_email') %><br />
		<%= f.input :site_name, hint: t('settings.hint.site_name') %><br />
		<%= f.input :site_tagline, hint: t('settings.hint.site_tagline') %><br />
		<%= f.input :enable_comments_in_pages, as: :boolean, inline_label: true, label: false  %><br />
		<%= f.input :disable_blog, as: :boolean, inline_label: true, label: false, hint: t('settings.hint.disable_blog') %><br />
		<%= f.input :blog_name %><br />
		<%= f.input :blog_tagline, hint: t('settings.hint.blog_tagline') %><br />
		<%= f.input :enable_comments_in_blog, as: :boolean, inline_label: true, label: false  %>
	</div>
	
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>

<% end %>

<%= render 'shared/admin_sidebar' %>