<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s || 'en' %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= t("admin_panel_for") + ' ' + Setting.first.try(:site_name) %></title>
		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <!-- Le styles -->
    <%= stylesheet_link_tag "admin", :media => "all" %>
    <!-- Le fav and touch icons -->
		<%= favicon_link_tag %>
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
	  <%= csrf_meta_tag %>
	</head>

	<body>
		
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<%= render 'shared/login_info' %>
					<h1><%= (t("admin_panel_for") + ' ' + link_to(Setting.first.try(:site_name), root_path)).html_safe %></h1>
					
					<% flash.each do |name, msg| %>
					  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
					    <a class="close" data-dismiss="alert">×</a>
					    <%= msg %>
					  </div>
					<% end %>
				</div>
			</div>
			
      <div class="row-fluid">
        <div id="main-content" class="span9">
          <%= yield %>
        </div>
				<div id="sidebar" class="span3">
					<%= render 'shared/language_switcher' %>
					<%= yield :admin_sidebar %>
				</div>
      </div><!--/row-->
    </div> <!-- /container -->
		
		<div class="row-fluid">
			<footer class="span12">
				<hr>
				<p><b>Ten Thousand Hours</b><br />
				<%= link_to "http://tenthousandhours.eu", "http://tenthousandhours.eu" %><br />
				<%= link_to "Contact TKH", "http://tenthousandhours.eu/#{I18n.locale.to_s}/pages/5-contact-form" %><br /></p>
			</footer>
		</div>
		
		<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "admin" %>

	</body>
</html>
